{% extends 'public/base.html.twig' %}

{% block title %}Bienvenue sur le site de recettes de La Piscine{% endblock %}

{% block body %}

    <ul>
        <li><h2>Recettes</h2></li>
        <li><h2>Catégories</h2></li>
    </ul>

    <p>Vous trouverez toutes les recettes de la piscine sur ce site (et autant vous dire que j'espere que vous n'avez pas faim)</p>
{% endblock %}